.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4);
  flex-wrap: wrap;
  margin-bottom: var(--spacing-4);

  &__title {
		--heading-color: var(--color-highlight);
		font-weight: var(--font-weight-bold);
    margin: 0;
  }
}
