@use "styles/base-variables" as base;

.main {
  --section-max-width: 100%;
  isolation: isolate;
  overflow: hidden;
  &:has(.hero__background) {
    position: relative;
  }
  &[data-size="fixed"] {
    margin-top: var(--spacing-6);
    border-radius: var(--spacing-4);
  }
  .inner {
    --_content-align: center;
    --_content-justify: center;
    --_content-text-align: center;
    --section-inner-min-height: 100%;
    --_section-text-align: var(--_content-text-align);
    display: grid;
    gap: 1rem;
    align-content: var(--_content-align);
    justify-items: var(--_content-justify);
    color: var(--color-white);
    height: 100%;
  }

  &[data-title-position="bottom-center"] .inner {
    --_content-align: end;
  }

  &[data-title-position="bottom-left"] .inner {
    --_content-align: end;
    --_content-justify: start;
    --_content-text-align: left;
  }
}

.hero__container {
  width: 100%;
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  p {
		@media (min-width: base.$breakpoint-md) {
      // max-width: 60%;
      // margin: auto;
    }
    text-wrap: balance;
  }
}

.hero__content {
	text-align: var(--_content-text-align, center);
  p {
		margin: 0;
    @media (min-width: base.$breakpoint-md) {
      // max-width: 75%;
      text-wrap: balance;
    }
  }
}

.hero__title {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  @container (max-width: 650px) {
    // font-size: clamp(1.5rem, 2vw, 2rem);
  }
}

.hero__background {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.hero__image {
  position: absolute;
  inset: 0;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &:before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}
