.social {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
  a {
    border-radius: 50%;
    padding: var(--spacing-2);
    border: 1px solid color-mix(in srgb, var(--color-grey-light) 60%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: color-mix(in srgb, var(--color-black) 60%, transparent);
    }
  }
  svg {
    --_icon-scale: 1.2;
  }
}
