@use 'base-variables' as base;
@use 'mixins' as shared;
@use 'typo-mixins' as typo;
@use 'normalize' as normalize;
@use 'typography';
@use 'css-variables';
@use 'layout' as layout;

@layer frameworks, reset, base, theme, layouts, components, utilities;

@layer frameworks {
  @import url('swiper/css');
  @import url('swiper/css/navigation');
  @import url('swiper/css/pagination');
  @import url('swiper/css/zoom');
	@import "flag-icons/css/flag-icons.min.css";
}

@layer base {
  @include layout.content;
  @include normalize.styles;
}

@layer theme {
  @include typography.typography;
}

@layer utilities {
  @import 'tailwindcss/theme.css';
  @import 'tailwindcss/utilities.css';
}

:root {
  --swiper-navigation-color: var(--color-blue);
  --swiper-pagination-color: var(--color-blue);

  --page-max-width: 1120px;
  --padding-desktop: 1.5rem;
  --padding-mobile: 1rem;

  --link-line-space: 3px;

  // Animations
  --anim-line-speed: 300ms;
  --anim-line: cubic-bezier(0.42, 0.63, 0.13, 0.99);
  --ease-in: cubic-bezier(0.43, 0.045, 0.1, 0.95);
  --text-in: cubic-bezier(0.31, 0.11, 0.12, 0.99);
}

/* Document
========================================================================== */
html {
  height: 100%;
  width: 100%;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(var(--color-ocean), 0.15);
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  scroll-padding-top: var(--navigation-height);
  // color-scheme: light dark;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  @include typo.ui-body;
  margin: 0;
  min-height: 100dvh;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  &:has(.page .content-grid > .full-max) {
    --_nav-mb: 0;
  }
}
/* ==========================================================================
    Global
========================================================================== */

@layer utilities {
  .page {
    flex: 1 0 auto;
    display: grid;
    align-content: start;
    &__with-sidebar {
      display: grid;
      margin-top: var(--spacing-6);
      @media (width > base.$breakpoint-md) {
        grid-template-columns: 1fr auto;
      }
      gap: 2rem;
      padding-bottom: 2rem;
    }
    &__main {
      container-type: inline-size;
      container-name: page__main;
    }
  }
  .rel {
    position: relative;
  }

  .logo-brand {
    fill: #00c2f4;
  }

  .u-visuallyHidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }

  .u-overflow--hidden {
    overflow: hidden;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .hidden-visible {
    visibility: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  small {
    @include typo.ui-small;
  }
  strong,
  b {
    font-weight: var(--font-weight-bold);
  }
}

// LINK
.link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--link-color, inherit);
  transition: font-weight 0.3s ease;
  text-shadow: var(--_link-text-shadow);
  &:after {
    content: attr(data-text);
    content: attr(data-text) / '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: var(--font-weight-bold);

    @media speech {
      display: none;
    }
  }
  &:hover {
    font-weight: var(--font-weight-bold);
  }
}

// logo
